body {
  background-image: url(/../../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}

body #search {
  color: #fff;
}

body #search [type=text] {
  padding: 10px;
  max-width: 600px;
  border: 1px solid #fff;
  border-radius: 57px;
  width: 100%;
  background: transparent;
  color: #fff;
}

body #search [type=text]:focus {
  outline: none;
}

body #search svg {
  position: absolute;
  right: 30px;
  top: 8px;
  font-size: 30px;
  cursor: pointer;
}

body #weather-container {
  color: #fff;
  margin-top: 100px;
}

body #weather-container span {
  font-size: 25px;
}

body #weather-container h5 {
  font-size: 30px;
  font-weight: 200;
}

body #weather-container h1 {
  font-size: 8em;
  line-height: 0.7;
  font-weight: 200;
}

body section center {
  color: #fff;
}

